<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Estás mirando la página de inicio, navega a 
      <a href="/views/usuarios/ver.ejs">/usuarios</a>
      para ver la app web
    </p>
  </body>
</html>